@use "../abstracts/_index" as *;

#footer {
  display: grid;
  grid-template-columns: vw(106) 1fr;
  .content {
    @include flex(center,between);
    .mail {
      position: relative;
      transition: color 0.3s ease;
      @include font-style(max_vw(20),0,70,$medium);
      @include flex(center);
      &::before {
        display: block;
        content: "";
        @include icn-mail;
        width: max_vw(30);
        height: max_vw(30);
        margin-right: max_vw(12);
      }
      @media (any-hover: hover) {
        &:hover {
          color: $color-orange
        }
      }
    }
    .copyright {
      @include font-style(max_vw(12),0,50);
    }
  }

  @include mq-max {
    grid-template-columns: vw(60, $sp) 1fr;
    .content {
      flex-direction: column;
      align-items: unset;
      justify-content: center;
      gap: vw(40, $sp);
      padding-block: vw(45, $sp) vw(50, $sp);
      .mail {
        font-size: vw(16, $sp);
        &::before {
          width: vw(20, $sp);
          height: vw(20, $sp);
          margin-right: vw(10, $sp);
        }
      }
      .copyright {
        font-size: vw(12, $sp);
      }
    }
  }
}