@use "../abstracts/_index" as *;

//
// global
//
@include mq-min {
	._sp {
		display: none !important
	}
}

@include mq-max {
	._pc {
		display: none !important
	}
}

section {
  display: grid;
  grid-template-columns: vw(106) 1fr;
  border-bottom: max_vw(1) solid $color-white;
  @include mq-max {
    grid-template-columns: vw(60, $sp) 1fr;
  }
}

.aside {
  grid-column: 1;
  width: vw(106);
  border-right: max_vw(1) solid $color-white;
  @include flex(center,between);
  flex-direction: column;
  padding-block: max_vw(50);
  @include mq-max {
    width: vw(60, $sp);
    padding-block: vw(35, $sp) vw(24, $sp);
  }
}

.content {
  grid-column: 2;
  padding-inline: vw(70) vw(106);
  @include mq-max {
    padding-inline: vw(22, $sp) vw(30, $sp);
  }
}

h2 {
  color: $color-orange;
  @include font-style(0,0,50,bold);
  writing-mode: vertical-rl;
}

.scroll {
  position: relative;
  a {
    color: $color-orange;
    @include font-style(max_vw(12),0,5,semi-bold);
    writing-mode: vertical-rl;
    padding: 0 0 max_vw(42) max_vw(12);
  }

  &::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: max_vw(2);
    height: 100%;
    background: $color-white;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: max_vw(6);
    height: max_vw(6);
    border-radius: 50%;
    transform: translateX(-30%);
    background: $color-orange;
    animation:
      circlemove 2.8s ease-in-out infinite,
      cirlemovehide 2.8s ease-out infinite;
    pointer-events: none;
  }
  @include mq-max {
    a {
      font-size: vw(12, $sp);
      padding: 0 0 vw(37, $sp) vw(12, $sp);
    }
    &::before{
      width: vw(2, $sp);
    }
    &::after {
      width: vw(6, $sp);
      height: vw(6, $sp);
    }
  }
}

@keyframes circlemove{
  0% {
    bottom: 100%;
  }
  30% {
    bottom: 100%;
  }
  70% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

@keyframes cirlemovehide{
  0%{opacity:0}
  20%{opacity:1;}
  70%{opacity:0.9;}
  80%{opacity:0;}
  100%{opacity:0;}
}
