@use "../abstracts/_index" as *;

#header {
  border-top: max_vw(1) solid $color-white;
  border-bottom: max_vw(1) solid $color-white;
  display: grid;
  grid-template-columns: vw(106) 1fr;
  height: vw(106);

  .logo {
    @include font-style(max_vw(24), 0, 10, bold);
    grid-column: 1;
    height: 100%;
    border-right: max_vw(1) solid $color-white;
    @include flex(center, center);
  }

  .text {
    @include font-style(0, 0, 10, 0);
    grid-column: 2;
    @include flex(center);
    margin-left: max_vw(50);
  }

  .btn-menu {
    position: fixed;
    right: 0;
    top: 0;
    width: vw(106);
    height: vw(106);
    border-top: max_vw(1) solid $color-white;
    border-left: max_vw(1) solid $color-white;
    border-bottom: max_vw(1) solid $color-white;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    @include flex(center, center);

    .dots {
      position: relative;
      width: max_vw(34);
      height: max_vw(34);
      @include flex(center, center);
      span {
        display: block;
        width: max_vw(6);
        height: max_vw(6);
        background-color: $color-orange;
        transition: width 0.3s ease, transform 0.3s ease, opacity 0.3s ease, top 0.3s ease, bottom 0.3s ease;
        &:first-child {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        &:last-child {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
    }

    &.is-active {
      .dots {
        span {
          width: max_vw(146);
          height: max_vw(1);
          background-color: $color-white;

          &:nth-child(2) {
            opacity: 0; // 中央の点を消す
          }
          &:first-child {
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:last-child {
            bottom: 50%;
            transform: translate(-50%, 50%) rotate(-45deg);
          }
        }
      }
    }
  }

  #btn-menu-open {
    background-color: $color-black;
    @media (any-hover: hover) {
      &:hover {
        .dots span {
          width: 100%;
        }
      }
    }
  }

  @include mq-max {
    grid-template-columns: vw(60, $sp) 1fr;
    height: vw(60, $sp);

    .logo {
      font-size: vw(20, $sp);
    }

    .text {
      margin-left: vw(18, $sp);
    }

    .btn-menu {
      width: vw(60, $sp);
      height: vw(60, $sp);
      .dots {
        width: vw(24, $sp);
        height: vw(24, $sp);
        span {
          width: vw(4, $sp);
          height: vw(4, $sp);
        }
      }
      &.is-active {
        .dots {
          span {
            width: vw(110, $sp);
          }
        }
      }
    }
  }

}