@use "../abstracts/_index" as *;

.modal {
  border: none;
  margin: auto vw(106) auto vw(176);
  width: auto;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    display 0.4s ease allow-discrete,
    overlay 0.4s ease allow-discrete;

  &:not([open]) {
    display: none;
  }
  &:open {
    opacity: 1;
  }

  @starting-style {
    &:open {
      opacity: 0;
    }
  }

  &::backdrop {
    background: rgba(#000, 0.5);
    opacity: 0;
    transition:
      opacity 0.4s ease,
      display 0.4s ease allow-discrete,
      overlay 0.4s ease allow-discrete;
  }

  &:open::backdrop {
    opacity: 1;
  }

  @starting-style {
    &:open::backdrop {
      opacity: 0;
    }
  }

  @include mq-max {
    margin: auto vw(25, $sp);
  }

  &-inner {
    position: relative;
    padding: max_vw(90) max_vw(62) max_vw(90) max_vw(70);
    height: 80svh;
    background: $color-orange;
    @include flex(0,between);
    gap: vw(90);
    overflow: hidden;

    @include mq-max {
      padding: vw(40, $sp) vw(20, $sp) vw(30, $sp) vw(26, $sp);
      flex-direction: column;
      gap: vw(16, $sp);
    }
  }

  &-close {
    position: absolute;
    right: 0;
    top: 0;
    width: vw(106);
    height: vw(106);
    border-top: max_vw(1) solid $color-white;
    border-left: max_vw(1) solid $color-white;
    border-bottom: max_vw(1) solid $color-white;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
    @include flex(center, center);
    span {
      position: absolute;
      display: block;
      left: 50%;
      width: max_vw(146);
      height: max_vw(1);
      background-color: $color-white;
      transition: width 0.3s ease, transform 0.3s ease, opacity 0.3s ease, top 0.3s ease, bottom 0.3s ease;
      &:first-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:last-child {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
      }
    }

    @include mq-max {
      width: vw(40, $sp);
      height: vw(40, $sp);
      span {
        width: vw(70, $sp);
      }
    }
  }

  &-image {
    width: vw(465);
    img {
      height: 100%;
      object-fit: cover;
    }
    @include mq-max {
      width: 100%;
      height: vw(180, $sp);
    }
  }

  &-cont {
    flex: 1;
    @include flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-index {
    position: relative;
    text-decoration: underline $color-white solid max_vw(3);
    text-underline-offset: max_vw(4);
    padding-bottom: max_vw(7);
    @include font-style(0,0,5,$bold);

    @include mq-max {
      text-decoration-thickness: vw(2, $sp);
      text-underline-offset: vw(3, $sp);
      padding-bottom: vw(5, $sp);
      font-size: vw(12, $sp);
    }
  }

  &-title {
    margin-top: max_vw(10);
    a {
      position: relative;
      text-decoration: underline;
      @include font-style(max_vw(26),100%,5,$bold);
      @include flex(center,$display: inline-flex);
      gap: max_vw(10);
      transition: color 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          color: $color-white;
        }
      }
      &::after {
        display: block;
        content: "";
        @include icn-blank;
        width: max_vw(15);
        height: max_vw(12);
      }
    }

    @include mq-max {
      margin-top: vw(2, $sp);
      a {
        font-size: vw(16, $sp);
        gap: vw(5, $sp);
        &::after {
          width: vw(11, $sp);
          height: vw(9, $sp);
        }
      }
    }
  }

  &-categories {
    margin-top: max_vw(20);
    @include flex(0,0,wrap);
    gap: max_vw(12);
    li {
      padding: max_vw(5);
      background-color: $color-white;
      @include font-style(max_vw(14),100%);
    }

    @include mq-max {
      margin-top: vw(12, $sp);
      gap: vw(5, $sp);
      li {
        padding: vw(4, $sp);
        font-size: vw(10, $sp);
      }
    }
  }

  &-period {
    margin-top: max_vw(10);
    @include font-style(max_vw(14),100%);

    @include mq-max {
      margin-top: vw(5, $sp);
      font-size: vw(11, $sp);
    }
  }

  .modal-detail {
    margin-top: max_vw(36);
    overflow-y: auto;
    flex: 1;
    padding-right: max_vw(28);
    // Chrome・Safari・Edge
    &::-webkit-scrollbar {
      width: max_vw(3);
    }

    &::-webkit-scrollbar-track {
      background: $color-white;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-black;
      border-radius: 0;
    }

    // Firefoxのみ
    @-moz-document url-prefix() {
      scrollbar-width: thin;
      scrollbar-color: $color-black $color-white;
    }

    @include mq-max {
      margin-top: vw(20, $sp);
      padding-right: vw(12, $sp);
      &::-webkit-scrollbar {
        width: vw(2, $sp);
      }
    }
  }

  &-row {
    border-top: max_vw(1) solid $color-black;
    padding-block: max_vw(24);
    @include flex;

    @include mq-max {
      padding-block: vw(15, $sp);
    }

    &:last-child {
      border-bottom: max_vw(1) solid $color-black;
    }
    dt {
      width: calc(4em + max_vw(25));
      @include font-style(max_vw(14),150%,0,$bold);

      @include mq-max {
        width: calc(4em + vw(15, $sp));
        @include font-style(vw(12, $sp),150%);
      }
    }
    dd {
      flex: 1;
      @include font-style(max_vw(14),170%);

      @include mq-max {
        @include font-style(vw(12, $sp),170%);
      }
    }
  }
}