<section id="skills">
  <div class="aside">
    <h2>SKILLS</h2>
  </div>
  <div class="content">
    <dl>
      <div>
        <dt>FRONTEND</dt>
        <dd>HTML</dd>
        <dd>CSS / Scss</dd>
        <dd>JS / jQuery</dd>
        <dd>Typescript</dd>
        <dd>PHP</dd>
      </div>
      <div>
        <dt>CMS</dt>
        <dd>WordPress</dd>
        <dd>Movable Type</dd>
        <dd>カラーミーショップ</dd>
        <dd>makeshop</dd>
        <dd>STUDIO</dd>
      </div>
      <div>
        <dt>DESIGN TOOLS</dt>
        <dd>Figma</dd>
        <dd>Photoshop</dd>
        <dd>Illustrator</dd>
        <dd>XD</dd>
      </div>
      <div>
        <dt>DEVELOPMENT</dt>
        <dd>Astro</dd>
        <dd>Git / FitHub</dd>
        <dd>Notion</dd>
      </div>
    </dl>
  </div>
</section>
