<footer id="footer">
  <div class="aside">
    <h2>CONTACT</h2>
  </div>
  <div class="content">
    <a href="mailto:satoka.tg@gmail.com" class="mail">satoka.tg@gmail.com</a>
    <small class="copyright">&COPY;2026 SATOKA TOGAWA</small>
  </div>
</footer>
