@use "../abstracts/_index" as *;

#about {
  position: relative;
  .image {
    width: vw(659);
    height: vw(659);
    margin-left: auto;
    canvas {
      width: 100%;
      height: 100%;
    }
  }
  .text-warp {
    @include flex(end,between);
    padding-bottom: max_vw(50);
  }
  .lead {
    @include font-style(vw(24),200%);
  }
  dl {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 1.5em vw(86);
    dt {
      @include font-style(0,0,5,bold);
    }
    dd {
      @include font-style(max_vw_vw(14),0,0,medium);
    }
  }
}