@use "../abstracts/_index" as *;

#skills {
  dl {
    padding-block: max_vw(77) max_vw(100);
    margin-right: max_vw(70);
    @include flex(0,between);
    dt {
      font-weight: $bold;
      letter-spacing: 0.05em;
      margin-bottom: max_vw(48);
    }
    dd {
      letter-spacing: 0.05em;
      margin-top: max_vw(32);
    }
  }
}